html, body {
  margin: 0;
  padding: 0;
  height: 100%;
   /* Prevents horizontal scrolling */ 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding/margin don’t affect element size */
}
